{% extends 'out_base.html' %}

{% block header_content %}
<style>
.center {
 width: auto;
 display: table;
 margin-left: auto;
 margin-right: auto;
}
.text-center > table > tbody > tr > th,
.text-center > table > thead > tr > th {
 text-align: center;
}

.table-responsive {
width: 100%;
margin-bottom: 15px;
overflow-x: scroll;
overflow-y: hidden;
border: 1px solid #dddddd;
-ms-overflow-style: -ms-autohiding-scrollbar;
-webkit-overflow-scrolling: touch;
}
.table-responsive > .table {
margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
white-space: nowrap;
}

.NoNewline
{
word-break: keep-all;/*必须*/
white-space: nowrap;
}
</style>
	<!-- Datepicker -->
    <link href="/static/template/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <!-- Gritter -->
	<link href="/static/template/css/gritter/jquery.gritter.css" rel="stylesheet">
{% endblock %}


{% block container %}
<div id="main-container">
	<div class="main-header clearfix">
		<div class="page-title">
			<h3 class="no-margin">需求更新</h3>
		</div><!-- /page-title -->
	</div><!-- /main-header -->


	<div class="padding-md">
        <div class="row">
            <div class="col-md-12">
						<div class="panel panel-default">
							<form class="form-horizontal form-border no-margin" id="basic-constraint" data-validate="parsley" novalidate>
								<div class="panel-heading">
									update spiders demand
								</div>

								<div class="panel-body">
                                    <div class="form-group">
										<label class="control-label col-lg-2">申请人</label>
										<div class="col-lg-4">
											<input type="text" readonly="readonly" id="username" class="form-control input-sm" data-required="true" >
										</div><!-- /.col -->
									</div><!-- /form-group -->
                                    <div class="form-group">
										<label class="control-label col-lg-2">需求部门</label>
										<div class="col-lg-4">
											<input type="text" readonly="readonly" id="department" class="form-control input-sm" data-required="true" >
										</div><!-- /.col -->
									</div><!-- /form-group -->
									<div class="form-group">
										<label class="control-label col-lg-2">渠道名称</label>
										<div class="col-lg-4">
											<input type="text" readonly="readonly" id="channel_name" class="form-control input-sm" data-required="true" placeholder="请输入英文">
										</div><!-- /.col -->
									</div><!-- /form-group -->
                                    <div class="form-group">
										<label class="control-label col-lg-2">数据类型</label>
										<div class="col-lg-4">
											<input type="text" readonly="readonly" id="data_type" class="form-control input-sm" data-required="true" placeholder="请输入英文">
										</div><!-- /.col -->
									</div><!-- /form-group -->
                                    <div class="form-group">
										<label class="control-label col-lg-2">是否为APP</label>
										<div class="col-lg-2">
                                                <div class="seperator"></div>
                                                <label class="label-radio inline">
                                                    <input type="radio" name="is_sensitive" checked="checked" value=0>
                                                    <span class="custom-radio"></span>
                                                    否
                                                </label>
                                                <label class="label-radio inline">
                                                    <input type="radio" name="is_sensitive" value=1>
                                                    <span class="custom-radio"></span>
                                                    是
                                                </label>
										</div><!-- /.col -->
									</div><!-- /form-group -->
                                    <div class="form-group">
										<label class="control-label col-lg-2">起始url</label>
										<div class="col-lg-4">
											<input type="url" id="start_url" class="form-control input-sm" data-required="true" >
										</div><!-- /.col -->
									</div><!-- /form-group -->
                                    <div class="form-group">
										<label class="control-label col-lg-2">采集频率</label>
										<div class="col-lg-4">
											<input type="number" id="rate" class="form-control input-sm" data-required="true"  min="0" max="2000" step="0.1">
										</div><!-- /.col -->
									</div><!-- /form-group -->
                                    <div class="form-group">
										<label class="control-label col-lg-2">采集优先度</label>
										<div class="col-lg-3">
                                            <select id="priority" class="form-control">
                                                <option value="">请选择</option>
                                                <option value="低">低</option>
                                                <option value="中">中</option>
                                                <option value="高">高</option>
                                            </select>
										</div><!-- /.col -->
									</div><!-- /form-group -->
                                    <div class="form-group">
										<label class="control-label col-lg-2">需求字段</label>
										<div class="col-lg-4">
											<textarea id="column" spellcheck="false" class="form-control" placeholder="填需要采集的数据字段..." rows="6" data-required="true"></textarea>
										</div><!-- /.col -->
                                        <span class="col-lg-1">每行一个</span>
									</div><!-- /form-group -->
                                    <div class="form-group">
										<label class="control-label col-lg-2">备注信息</label>
										<div class="col-lg-4">
											<textarea id="comment" spellcheck="false" class="form-control" placeholder="备注信息..." rows="6" data-required="true"></textarea>
										</div><!-- /.col -->
									</div><!-- /form-group -->
                                    <div class="form-group">
										<label class="control-label col-lg-2">需求文档上传</label>
										<div class="col-lg-3">
											<input id="file_upload" type="file" name="file" spellcheck="false" data-required="true">
											<!--<input type="button" value="上传" onclick="FileUpload()">-->
										</div>
									</div>
                                </div>
								<div class="panel-footer">
									<button id="save_task" type="button" class="btn btn-success">Save</button>
									<button id="cancel_task" type="button" class="btn btn-danger pull-right">cancel</button>
									<!--<button id="test_task" type="button" class="btn btn-info">Test</button>-->
								</div>
                            </form>

                            <div id="test_result" class="panel-collapse collapse in">
                                <div class="panel-body">... ...</div>
                            </div>
                        </div><!-- /form-group -->
        </div><!-- /.row -->
	</div><!-- /padding-md -->
</div><!-- /main-container -->
</div>
{% endblock %}

{% block footer_content %}


<!-- Datepicker -->
<script src='/static/template/js/bootstrap-datepicker.js'></script>
<script src='/static/template/js/bootstrap-datepicker.zh-CN.min.js'></script>
<script src="/static/template/js/jquery.gritter.min.js"></script>
<!-- Modernizr -->
{#<script src='/static/template/js/modernizr.min.js'></script>#}
<script>
$(document).ready(function(){
    var index = layer.load();
    Initialization_demand();
    layer.close(index);
});

/*
*依据id返回需求信息
*/
function Initialization_demand() {
    var url = '/message/get_demand_byid/';
    var str=location.href;
    var args = str.split('/');
    var _id = args[args.length-1];

    var para = {'_id': _id};
    $.post(url, para, function (jdata) {
        var data = $.parseJSON(jdata);
        $("#username").val(data.proposer);
        $("#channel_name").val(data.channel_name);
        $("#department").val(data.demand_department);
        $("#data_type").val(data.data_type);
        <!--$("#demand_name").val(data.demand_name);-->
        $("#start_url").val(data.start_url);
        $("#is_app").val(data.is_app);
        $("#rate").val(data.spider_rate);
        $("#priority_level").val(data.priority_level);
        $("#comment").val(data.comment);
        $("#column").val(data.column);
    });
}


/*
*获取提交的信息
*/
function get_para() {
	var para = '';
	var str=location.href;
    var args = str.split('/');
    var _id = args[args.length-1];
    var username = $("#username").val().trim();
    var department = $("#department").val().trim();
    var channel_name = $("#channel_name").val().trim();
    var data_type = $("#data_type").val().trim();
    var is_sensitive = $("input[name='is_sensitive']:checked").val().trim();
    var start_url = $("#start_url").val().trim();
    var rate = $("#rate").val().trim();
    var priority = $("#priority").val().trim();
    var column = $("#column").val().trim();
    var comment = $("#comment").val().trim();
    var file_info =$('#file_upload')[0].files[0];

    if (file_info==undefined||channel_name==''||department==''||data_type==''||start_url==''||priority==''||column==''){
    	return para
    } else
	{
		var file_name = file_info.name
		var para = {
		'_id' : _id,
        'username': username,
        'department': department,
        'channel_name': channel_name,
        'data_type': data_type,
        'is_app': is_sensitive,
        'start_url': start_url,
        'rate': rate,
        'priority': priority,
        'column':column,
        'comment':comment,
        'file_name':file_name
    };}
    return para
}


/*
*保存并提交需求信息
*/
$("#save_task").click(function () {

    var para = get_para();
    if (para==''){
    	ajax_callback1('请完善信息后提交')
    } else {
    var jpara = JSON.stringify(para);
    var url = '/message/update_demand_data/';
    var index = layer.load();
    FileUpload();  //异步上传文件
    $.post(url, {'data': jpara}, function (res) {
        var _data = $.parseJSON(res);
        var msg = _data.msg.join('<br>');
        layer.close(index);
        if (_data.status == 0) {
            var url ="/message/show_demand/";
            ajax_callback2(msg, url)
        }
        else{
            ajax_callback1(msg);
        }
    });}
});

/*
*ajax 上传文件
*/
function FileUpload() {
		var form_data = new FormData();
		var file_info =$('#file_upload')[0].files[0];
		form_data.append('file',file_info);
		$.ajax({
			url:'/message/upload_ajax/',
			type:'POST',
			data: form_data,
			processData: false,
			contentType: false,
			success: function(callback) {
				console.log('ok')
			}
		});
}

/*
*取消需求提交操作
*/
$("#cancel_task").click(function () {
	ajax_callback2('确认放弃修改','/message/show_demand/');
});

/*
*ajax get callback
*/
function ajax_callback1(msg){
    var index = layer.alert(msg, {
        skin: 'layui-layer-molv' //样式类名
    },function(){
       layer.close(index)
    });
}


// 获取长度为len的随机字符串
function _getRandomString(len) {
    len = len || 32;
    var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678'; // 默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1
    var maxPos = $chars.length;
    var pwd = '';
    for (i = 0; i < len; i++) {
        pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
    }
    return pwd;
}




/*
*ajax get callback2
*/
function ajax_callback2(msg, url){
    var index = layer.alert(msg, {
        skin: 'layui-layer-molv' //样式类名
    },function(){
        layer.close(index);
        window.location=url;
    });
}

</script>
{% endblock %}