
<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="{% static 'lib/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/js/demand.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/css/demand.css' %}">
  <!-- 引入样式 -->
  <!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
</head>
<body>
<div style="text-align:center;">

<form action="{% url 'demand' %}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
   {% csrf_token %}
<p>需求部门: <select id="department" name="department">
  <option value ="大数据部">大数据部</option>
  <option value ="内容部">内容部</option>
  <option value="产品">产品</option>
  <option value="品控">品控</option>
</select></p>
<p>优先级：<select id="priority" name="priority">
    <option value="低">低</option>
    <option value="中">中</option>
    <option value="高">高</option>
</select></p>
<p>渠道名称：<input id="channel" name="channel_name" required></p>
<p>数据类型：<input id="data_type" name="data_type" required></p>
<p>是否为APP:<input type="radio" name="is_app" value=1 >是
            <input type="radio" name="is_app" value=0 checked>否
</p>
<p>起始URL：<input id="start" name="start_url" type="url" required></p>
<p>采集频率：<input id="rate" name="rate" type="number" min="0" max="2000" step="0.1" required></p>
<p class="dem_comment"><span>备注：</span><textarea id="comment" name="dem_com"  required></textarea></p>
<p>上传需求文档：<input id="doc" type="file" name="file" required></p>
    <p>申请人：<input id="proposer" name="proposer" required></p>
    <p class="dem_comment"><span>需求字段：</span><textarea id="de_field" name="de_data" placeholder="需求字段之间用英文分号隔开';'例如： 文章标题;发表时间;作者" required></textarea></p>
    <!--<p>需求字段：<div id="ih"><input class="de_field" id="de_field" name="de_data" required></div><button id="add_field">+</button></p>-->
    <!--<button type="submit"  >提交</button><button id="subs">取消</button>-->
    <!--<button id="subs">提交</button>-->
    <input id="sub_tests" type="submit" value="提交">
</form>
    <!--<script type="text/javascript">-->
    <!--var List = {{ isComplete }};-->
    <!--alert(List);-->
    <!--alert("dsafdfsaaaaaaaaaaaaadfss")-->
    <!--</script>-->
    {% if isComplete == True %}
            <script type="text/javascript">
            alert("申请已提交，请勿重复提交")
            </script>
    {% endif %}
</div>

</body>
</html>