<html>
<head>
<script type="text/javascript" src="./static/lib/jquery.js"></script>
<script type="text/javascript" src="./static/lib/hide.js"></script>
    <!--<script>-->
        <!--$(document).ready(function(){-->
        <!--$("#id_hide").click(function(){-->
        <!--$("h2").css("background-color","red");-->
        <!--$("#is_hide").hide();-->
        <!--});-->
        <!--$("#show").click(function(){-->
        <!--$("p").show();-->
        <!--});-->

        <!--$("#hide").click(function(){-->
        <!--$("p").hide();-->
        <!--});-->

        <!--});-->

    <!--</script>-->
<!--<script type="text/javascript">-->
<!--$(document).ready(function(){-->

<!--});-->
<!--</script>-->
</head>

<body>
<h2>This is a heading</h2>
<p id="is_hide">This is a paragraph.</p>
<p id="id_hide">This is another paragraph.</p>
<button type="button" id="hide">Click me</button>
<button type="button" id="show">Click show</button>
</body>
</html>